<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum/Login</title>
    <link rel="stylesheet" href="../asset/style/login.css">
</head>
<body>
    <div class="loginPic">
        <form action="/login" method="POST">
            <div class="Pseudo">
               <h2 class="h2">Pseudo:</h2> 
            </div>
            <div class="Password">
                <h2 class="h2">Password:</h2> 
            </div>
            <button type="submit" class="submit"><h1 class="h1">Login</h1> </button>
        </form>
    </div>
</body>
<script src="../asset/js/login.js"></script>
</html>