*{
     margin: 0;
 }
html{
    min-width: 300px;
}
 body{
    background: #4d4d4d;
    overflow: hidden;
 }
.slider{
    position: fixed;
    top: 150px;
    left: 30px;
    width: 230px;
    background: #343434;
    border-radius: 5px 5px 5px 5px;
}
.arrowTopTheme{
    z-index: 999;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
    width: 230px;
    background: #FFCB77;
    border: 2px solid #FFCB77;
    border-radius: 5px 5px 0px 0px;
}
.arrowBottomTheme{
    height: 30px;
    width: 230px;
    z-index: 999;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    background: #FFCB77;
    border: 2px solid #FFCB77;
    border-radius: 0px 0px 5px 5px;
}
.slides{
    width: 230px;
    height: 800px;
    /* height: 500px; */
    /* background: purple; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    
    /* overflow-y: scroll; */
}

.slide{
    width: 150px;
    height: 150px;
    background: pink;
    margin: 15px 0px;
    /* float: left; */
}


 #all-screen{
    margin: 0;
    padding: 0;
 }
 #Theme-scrollbar{
     position: fixed;
     width: 200px;
     height: 60px;
     left: 3%;
     top: 10%;
     font-size: 30px;
     color: #FFCB77;
 }
 #post{
     margin-left: 10px;
     position:absolute;
     left: 15%;
     width:80%;
     height: 100%;
     background: #373737;
 }

 #User-Post-Name{
    width: 90vh; 
    height: 5vh;
    top: 5%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,120%);
    position: absolute;
    font-size: 44px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;

 }
 #tags{
     position: absolute;
     width: 30vh;
     height: 10vh;
     top: 22%;
     left: 6%;

 }

 #tags p{
    font-size: 25px;
    color: #FFCB77;
 }
 #alltags{
    position: relative;
    top:27%;
    left: 6%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(1px,0.17fr));
 }
 .Tag{
     width: 200px;
     height: 40px;
     justify-content: center;
     font-size: 30px;
     display: flex;
     background: #FFCB77;
 }
 .line{
    position: absolute;
    right: 40vw;
    top: -17vw;
    height: 70vw;
    width: 1px;
    transform: rotate(90deg);
    background: #FFCB77;
 }
 #text{
     margin: 15px;
     position: absolute;
     left: 4vw;
     top: 18vw;
     height: 30vw;
     width: 70vw;
     background:#4d4d4d;
     color: #FFFFFF;
    justify-content: center;
}

 /* Cheddar Sauce - USER */


